@import 'style/global';

.input {
  border: 2px solid $c-silver;
  border-radius: 5px;
  outline: none;
  font-size: 2rem;
  width: 40rem;
  height: 5rem;
  padding-left: 1rem;
  margin: 1rem;
  display: block;
  color: gray;
}

.search {
  width: 15rem;
  height: 3rem;
}
