@import 'style/global';

.home {
  @include page-base;
}

.container1 {
  position: relative;
  background-image: url('../../assets/images/background1.png');
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 7rem;

  @include respond(tab-port) {
    padding: 0;
    padding-bottom: 4rem;
    grid-template-columns: 1fr;
  }

  &__all {
    padding-left: 3rem;
    display: flex;
    align-items: center;

    @include respond(tab-port) {
      padding-left: 1em;
    }
  }

  &__head {
    font-family: 'Permanent Marker', cursive;
    color: $c-green;
    font-size: 6rem;
    width: 65%;

    @include respond(tab-port) {
      font-size: 5rem;
      width: 80%;
    }
  }

  &__headw {
    font-family: 'Permanent Marker', cursive;
    color: $c-green;
    font-size: 20rem;

    @include respond(tab-port) {
      font-size: 14rem;
    }
  }

  &__grap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @include respond(tab-port) {
      display: none;
    }
  }

  &__txt {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @include respond(tab-port) {
      width: 100vw;
    }
  }

  &__instr {
    width: 80%;
    color: $c-black;
    line-height: 3rem;
    padding: 1rem;
    margin-right: 8rem;

    @include respond(tab-port) {
      margin-right: 2rem;
      text-align: left;
      padding: 0rem;
    }
  }

  &__instrText {
    align-self: flex-start;
    padding: 3rem;
    margin-left: 1rem;
    font-size: 3rem;

    @include respond(tab-port) {
      margin-left: 0rem;
      text-align: justify;
    }
  }

  &__btns {
    display: flex;
    gap: 5rem;
    padding: 4rem;
    margin-right: 6rem;

    @include respond(tab-port) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-right: 0;
      margin-top: 3em;
    }
  }
}

.container2 {
  position: relative;
  background-image: url('../../assets/images/background2.png');
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 7rem;

  @include respond(tab-port) {
    padding: 0;
    padding-bottom: 4rem;

    grid-template-columns: 1fr;
  }

  &__head {
    font-family: 'Permanent Marker', cursive;
    color: $c-green;
    font-size: 4rem;
    padding: 2rem;
    align-self: flex-start;
    margin-left: 8rem;

    @include respond(tab-port) {
      margin-left: 0;
      width: 100%;
      text-align: center;
    }
  }

  &__txt {
    color: $c-white;
    line-height: 3rem;
    width: 90%;
    margin-bottom: 1rem;
    margin-left: 12rem;

    @include respond(tab-port) {
      padding: 0;
      grid-template-columns: 1fr;
      margin-left: 0;
      text-align: justify;
      margin-bottom: 3rem;
    }
  }
}

.container3 {
  background-image: url('../../assets/images/background3.png');
  min-height: 100vh;

  &__all {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    height: 90vh;
  }

  &__header {
    font-family: 'Permanent Marker', cursive;
    color: $c-green;
    font-size: 4rem;
    align-self: flex-start;
    margin-bottom: 2rem;
    margin-left: 5rem;

    @include respond(tab-port) {
      margin-left: 0;
      text-align: center;
      width: 100%;
      margin-bottom: 3rem;
    }
  }

  &__txt {
    color: #000000;
    line-height: 3rem;
    width: 80%;
    margin-right: 4rem;
    padding-bottom: 3rem;

    @include respond(tab-port) {
      margin: 0;
      padding: 2em 3em;
      text-align: center;
      width: 100%;
      margin-bottom: 3rem;
      text-align: justify;
    }
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__txtfoot {
    font-size: 2rem;
  }

  &__head {
    font-family: 'Permanent Marker', cursive;
    color: $c-green;
    font-size: 3rem;
    padding: 1rem;
    align-self: flex-start;
  }
}

.arrowBlue {
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translateX(-50%);
}

.arrowWhite {
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translateX(-50%);
}
