@import 'style/global';

.button {
  background-color: $c-darkblue;
  width: 25rem;
  height: 5rem;
  outline: none;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-size: 2rem;
  cursor: pointer;
  transition: 0.2s ease;

  &:hover,
  &:focus-visible {
    filter: brightness(0.9);
  }

  &:active {
    transform: translateY(1px);
  }

  &:disabled {
    background-color: #cccccc;
    color: #666666;
  }
}

.outline {
  background-color: #ffffff;
  width: 15rem;
  height: 4rem;
  border: 2px solid $c-stroke;
  color: #000000;
  font-size: 1.6rem;

  &:focus {
    border: 2px solid $c-green;
  }
}
