@import 'style/global';

.sidebar {
  background-color: $c-sidebar;
  color: $c-text-w;
  width: min($w-sidebar, 40rem);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  font-size: 2.2rem;
  padding-bottom: 2rem;

  @include respond(tab-port) {
    flex: 1 0 $w-sidebar-tab;
  }

  a {
    color: $c-text-w;
  }

  .nav {
    padding: 4rem;
    width: 100%;

    .list {
      // position: absolute;
      margin: auto 0;
      list-style-type: none;
      max-width: min($w-sidebar, 40rem);

      .link {
        text-transform: capitalize;
        font-family: 'Permanent Marker', cursive;
        font-size: 2.5rem;
        padding: 0.5rem;
        display: flex;
        justify-content: flex-end;
        align-self: flex-end;
      }
      .activeLink {
        color: $c-green;
        font-size: 2.8rem;
      }
    }
  }

  .img {
    position: absolute;
    top: 8px;
    left: 16px;
  }
}
