@import 'style/global';

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &__small {
    margin: 4rem;
  }

  &__footer {
    max-width: 95rem;
    text-align: center;
    transform: translateY(100%);
    padding: 0 1rem;
  }
}

.text {
  align-self: center;
}
